html, body{
    margin: o; /* pades narsykles suderint */
    padding: 0;
}

body{
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    background-image: url('img/batonas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* Apsidraudziama del narsykliu skirtumu */
h1, h2, h3, h4, h5, h6{
    font-weight: 900;
}

/* title */
#title .black{
    color: black;
    background-color: white;
    display: inline;
}

#title #panda:hover{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}

#title .white{
    color: white;
    background-color: black;
    display: inline;
    box-sizing: content-box;
}

#title #bakery:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

#title h1{
    padding: 5px 10px;
    border-radius: 8px;
    margin: 0;
}

#title{
    text-align: center;
    font-size: 30px;
    margin: 0;
}


/* common block-wrapper style */
.block-wrapper{
    background-color: white;
    width: 100%;
    max-width: 600px;
    padding: 20px 35px;
    margin: 30px auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.info-wrapper .input-wrapper{
    margin: 10px 0px;
}

.info-wrapper .input-wrapper > *{
    display: block; 
}

.info-wrapper .input-wrapper input{
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 7px;
    border-style: solid;

}

.info-wrapper .input-wrapper input.error{
    border-color: red;
    background-color: rgb(255, 226, 226);
}

.info-wrapper .input-wrapper span.error{
    color: red;
    font-size: 12px;
}
/* Jei neturi klases "show" - error zinute nerodomaa */
.info-wrapper .input-wrapper span.error:not(.show){
    display: none;
}

/* - -  - - -  - - buttons */

.info-wrapper button{
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
}

.info-wrapper button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}